<div class="category">
    <div class="category__item">
        <div class="category__img">
            <img src="assets/pizza.png" alt="pizza">
        </div>
        <div class="category__text">Pizza</div>
    </div>
    <div class="category__item">
        <div class="category__img">
            <img src="assets/burg.png" alt="burger">
        </div>
        <div class="category__text">Burger</div>
    </div>
    <div class="category__item">
        <div class="category__img">
            <img src="assets/meat.png" alt="meat">
        </div>
        <div class="category__text">BBQ</div>
    </div>
    <div class="category__item">
        <div class="category__img">
            <img src="assets/sushii.png" alt="sushi">
        </div>
        <div class="category__text">Sushi</div>
    </div>
    <div class="category__item">
        <div class="category__img">
            <img src="assets/broccoli.png" alt="vegan">
        </div>
        <div class="category__text">Vegan</div>
    </div>
    <div class="category__item">
        <div class="category__img">
            <img src="assets/dessert.png" alt="cake">
        </div>
        <div class="category__text">Desserts</div>
    </div>
</div>
