<div class="header">
    <div class="header__logo">
        <img src="assets/shape.svg" alt="logo">
    </div>
    <input placeholder="Search" type="search"> <img src="assets/search.svg" alt="search">
    <div class="header__nav">
        <div class="header__li">Restaurants</div>
        <div class="header__li">Deals</div>
        <div class="header__li">My orders</div>
    </div>
    <div class="header__ords">
        <img src="assets/bag.svg" alt="orders">
    </div>
    <div class="header__ava">
        <img src="assets/avatar.png" alt="">
    </div>
</div>
<app-home-adv></app-home-adv>
<app-home-category></app-home-category>
<app-home-restaurants></app-home-restaurants>
