<div class="adv">
  <div class="adv__item">
    <div class="adv__img">
      <img src="assets/cake.png" alt="cake" />
    </div>
    <div class="adv__texts">
      <div class="adv__pretitle">All deserts</div>
      <div class="adv__title">20% OFF</div>
      <div class="adv__text">Deserty</div>
    </div>
  </div>
  <div class="adv__item2">
    <div class="adv__img2">
      <img src="assets/burger.png" alt="burger" />
    </div>
    <div class="adv__texts2">
      <div class="adv__pretitle2">Big Burgers</div>
      <div class="adv__title2">50% OFF</div>
      <div class="adv__text2">Fooddies</div>
    </div>
  </div>
</div>
